
/* Estilizando os textareas em estado normal */
.form-control {
    background-color: #2c2c2c; /* Fundo escuro */
    color: #ffffff; /* Texto branco */
    border: 1px solid #444; /* Borda sutil */
}

/* Sobrescrevendo o estado :focus do Bootstrap */
.form-control:focus {
    background-color: #2c2c2c; /* Mantém o fundo escuro ao clicar */
    color: #fffcfc; /* Mantém o texto branco */
    border-color: #ffffff; /* Borda um pouco mais clara para indicar foco */
    outline: none; /* Remove o contorno padrão (opcional) */
    box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, 0.25); /* Ajusta o halo de foco, se desejar */
}

.form-control:hover {
    background-color: #2c2c2c; /* Mantém o fundo escuro ao clicar */
    color: #fffcfc; /* Mantém o texto branco */
    outline: none; /* Remove o contorno padrão (opcional) */
    box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, 0.25); /* Ajusta o halo de foco, se desejar */
}

.form-control::placeholder {
    color: #ffffff; /* Cor clara para o placeholder */
    opacity: 1; /* Garante que a cor seja visível */
}
.input-group-text:hover{
    background-color: #2c2c2c; /* Mantém o fundo escuro ao clicar */
    color: #ffffff; /* Mantém o texto branco */
    border-color: #666; /* Borda um pouco mais clara para indicar foco */
    outline: none; /* Remove o contorno padrão (opcional) */
    box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, 0.25); /* Ajusta o halo de foco, se desejar */
}
.input-group-text{
    width: 100px;
    background: #2c2c2c;
    border-color: #666; /* Borda um pouco mais clara para indicar foco */
    color: #ffffff;
}
.message-box {
    overflow-y: auto;
    border: 1px solid #1a1b1b;
    padding: 15px;
    background-color: #1d1e1f;
    border-radius: 15px;
}
.system-message {
    background-color: #111111;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}
.user-message {
    background-color: #2d4b3c;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}
.answer-message {
    background-color: #606870;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}