{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
{% include 'nav.html' %}
    <h1 class="text-center">Welcome to App</h1>
    <div class="text-center container">
        <a href="/register" class="btn btn-primary">Register</a>
        <a href="/chat" class="btn btn-primary">Chat</a>
        <a href="/aichat" class="btn btn-primary">AI Chat</a>
        <a href="/users" class="btn btn-primary">Users</a>
        <a href="/about" class="btn btn-secondary">About</a>
    </div>
{% endblock %}